In [130]:
import pandas as pd
import matplotlib.pyplot as plt
import locale

locale.setlocale(locale.LC_ALL, 'pt_BR') 
plt.style.use('grayscale')

'pt_BR'

In [192]:
excelsheet = "source/criptoativos_dados_abertos_02032023.xls"

with pd.ExcelFile(excelsheet) as xls:
   df1 = pd.read_excel(xls, "Relatorio1",skiprows= 9, parse_dates=True, decimal=",")
   df2 = pd.read_excel(xls, "Relatorio2")
   df3 = pd.read_excel(xls, "Relat√≥rio3")
   df4 = pd.read_excel(xls, "Relatorio4")

df1.iloc[:,0] = pd.to_datetime( df1.iloc[:,0], format="%B de %Y")
df1.convert_dtypes()
# df1.dtypes
df1.groupby(df1.iloc[:,0].dt.year)['Subtotal', 'Subtotal.1', 'Unnamed: 8'].sum()

/var/folders/zg/ln0dh6h10cl5khbtyvg5z5rm0000gn/T/ipykernel_39304/260255933.py:9: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df1.iloc[:,0] = pd.to_datetime( df1.iloc[:,0], format="%B de %Y")
/var/folders/zg/ln0dh6h10cl5khbtyvg5z5rm0000gn/T/ipykernel_39304/260255933.py:12: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1.groupby(df1.iloc[:,0].dt.year)['Subtotal', 'Subtotal.1', 'Unnamed: 8'].sum()

                Subtotal    Subtotal.1     Unnamed: 8
Unnamed: 0
2019         6512.124643   7118.999575   27885.552623
2020        27634.552870  14807.512531   91702.033422
2021        19510.487646  32638.543397  204088.705659
2022        12185.042980  30324.572601  158945.791486
2023          798.170952   1998.873098   14891.628944

#