In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import locale
from babel.numbers import format_compact_currency

locale.setlocale(locale.LC_ALL, 'pt_BR') 
plt.style.use('grayscale')

excelsheet = "source/criptoativos_dados_abertos_02032023.xls"

with pd.ExcelFile(excelsheet) as xls:
   df1 = pd.read_excel(xls, "Relatorio1",skiprows= 9, parse_dates=True, decimal=",")
   df2 = pd.read_excel(xls, "Relatorio2")
   df3 = pd.read_excel(xls, "Relatório3")
   df4 = pd.read_excel(xls, "Relatorio4")

In [39]:
# df1.iloc[:,0] = pd.to_datetime( df1.iloc[:,0], format="%B de %Y")
df1[df1.columns[0]] = pd.to_datetime( df1.iloc[:,0], format="%B de %Y")
df1.convert_dtypes()

df1_new = df1.groupby(df1.iloc[:,0].dt.year)[['Subtotal', 'Subtotal.1', 'Unnamed: 8']].sum()

def process_numbers(myData):
    for i in myData.columns:
        if myData[i].dtype == np.float64:
            myData[i] = myData[i].apply(lambda x: format_compact_currency(x, currency="BRL", locale="pt_BR", fraction_digits=2)) 
        else:
            continue

process_numbers(df1_new)

df1_new.head()

                   Subtotal    Subtotal.1     Unnamed: 8
Unnamed: 0
2019            R$ 6,51 mil   R$ 7,12 mil   R$ 27,89 mil
2020           R$ 27,63 mil  R$ 14,81 mil    R$ 91,7 mil
2021           R$ 19,51 mil  R$ 32,64 mil  R$ 204,09 mil
2022           R$ 12,19 mil  R$ 30,32 mil  R$ 158,95 mil
2023        R$ 798,17095214      R$ 2 mil   R$ 14,89 mil

#